---
import moment from "moment";
import { site } from "@data/siteMetadata";
const { class: className } = Astro.props;
---

<footer
  class:list={[
    "px-4 py-9 w-full h-[6.75rem] bg-white text-sm z-10",
    "max-w-screen-xl m-auto",
    className,
  ]}
>
  <div class="grid grid-cols-6 md:grid-cols-12">
    <div class="col-start-1 col-end-4">
      {
        `© 2024${moment().year() !== 2024 ? -moment().year() : ""} paperdove.com`
      }
    </div>
    <div class="col-start-4 col-end-7 md:col-start-5 lg:col-start-4">
      <div>
        <a class="no-underline" href={site.rss}>rss</a>
      </div>
    </div>
  </div>
</footer>
