---
import type { CollectionEntry } from "astro:content";
import PostHeader from "@components/mdx/PostHeader.astro";

type Props = {
  posts: CollectionEntry<"work">[];
  class?: string;
};

const { posts, class: className } = Astro.props;
---

<ul id="index-list-view" class:list={[className]}>
  {
    posts.map((post) => (
      <li>
        <a href={`/${post.slug}`}>
          <PostHeader post={post} />
        </a>
      </li>
    ))
  }
</ul>
