---
import { gridCols } from "@data/tailwindLUT";

type Props = {
  maxCols: keyof typeof gridCols;
  /** caption for the whole grid */
  caption?: string;
  class?: string;
  captionClass?: string;
};

const { maxCols, caption, class: className, captionClass } = Astro.props;
const maxColsChecked = gridCols[maxCols];
---

<figure class:list={["video-wrapper"]}>
  <div
    class:list={[
      "image-grid grid",
      "[&_img]:object-cover [&_img]:w-full [&_img]:h-full",
      maxColsChecked,
      className,
    ]}
  >
    <slot />
  </div>
  {caption && <figcaption class:list={[captionClass]}>{caption}</figcaption>}
</figure>
