---
import "@fontsource-variable/inter"; // safe option
import "@fontsource-variable/karla"; // wider tracking

import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} description={description} />

  <body class="text-xl">
    <Header />
    <main class="mt-12">
      <slot />
    </main>
    <Footer />

    <style is:global>
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
